.page{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    background-color: var(--medium);
    overflow: auto;
    align-items: center;
}
.page h1{
    font-size: 28px;
}
.title {
    font-weight: 500;
}
.links {
    display: flex;
    gap: 10px;
    font-weight: 300;
}
section{
    padding: 10px;
    max-width: 1000px;
}
.page a {
    text-decoration: underline;
}