*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0,0,20);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}
#header-img{
    width: 100%;
}


#dg-logo{
    width: 9.5vw;
    height: 9.5vw;
    position: absolute;
    
}

#dg-logo:hover {
   width: 10vw;
   height: 10vw;
   transition: all 0.2s ease-in-out;
}

.navbar{
    color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

#personal-link{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

#triangle{
    width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 70px solid rgb(33, 33, 33);
    position: absolute;
    top: 0px;
    z-index: 1;
}

#profile-picture {
    height: 60px;
    width: 60px;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
  }

#account-img{
    height:100%;
    width:100%;
    z-index: 3;
}

#account-img:hover{
    opacity: 50%;
    transition: all 0.2s ease-in-out;
}


/* ----------------------------------- FINE PARTE SUPERIORE ----------------------------------------*/

/* ----------------------------------- INIZIO AREA PERSONALE ----------------------------------------*/

#personal-area{
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(33, 50, 100);

}
.area-box{
    width: 95%;
    height: 90%;
    background-color: rgb(0,0,20);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info{
    color: rgb(0,0,20);
    font-family: Tahoma;
    font-size: 1vw;
    margin-left: 10px;
    margin-top: 10px;
}

#video-select{
    margin-top: 20px;
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style:groove;
    border-color: white;
}

#video-file{
    width: 250px;
    height: 150px;
    color: white;
}
.inputfile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 2vw;
    font-weight: 700;
    color: white;
    background-color: rgb(33, 50, 100);
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(33, 50, 100);
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

#button{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
}

#send-btn{
    margin-top: 20px;
    width: 10vw;
    height: 3vw;
    background-color: rgb(150,150,150);
    font-size: 2vw;

}

.white-text{
    color: white;
    font-family: tahoma;
    text-align: center;
}

#carica{
    margin: auto;
    font-size: 1.5vw;
}

.impact-title{
    color: white;
    font-family: Impact;
    font-size: 3vw;
    height: 50px;
    
}
#data{
    background-color: rgb(33, 50, 100);
    height: auto;
    width: 80%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

#user-image{
    background-color: white;;
}

#user-img{
    width: 100%;
}

#tabella-skills{
    background-color: rgb(33, 33, 33);
    color: white;
    width: 95%;
    height: 200px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana;
    margin-top: 10px;
}

.skill{
    border-width: 1px;
    border-style: double;
    border-color:black
}

#acquisti-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
}
#base-purchased{
    width: 70%;
}

#buy-img{
    width: 70%;
}

/* ----------------------------------- FINE PERSONAL AREA ----------------------------------------*/

/* ----------------------------------- INIZIO LANDING PAGE ----------------------------------------*/

.course-img{
    display: flex;
    width: 100%;
}

#base-title {
    color: rgb(150,150,150);
    position:absolute;
    text-decoration: none;
    top: 10vw;
    left: 10%;
}

.title-overlay{
    font-size: 7vw;
    font-family: impact;
}

#pro-link, #pro-title{
    color: white;
    position: absolute;
    text-decoration: none;
    top: 5vw;
    left: 60%;
}

#tabella-base{
    background-color: rgb(33, 33, 33);
    color: white;
    width: 100%;
    height: 200px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana
}
table, th, td {
    border: 4px solid black;
    border-collapse: collapse;
    width: 50%
}

.border{
    border-width: 1px;
    border-style: double;
    border-color:black
}


#courses{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.course{
    position: relative;
}

/* ----------------------------------- FINE LANDING PAGE ----------------------------------------*/

/* ----------------------------------- INIZIO CORSO BASE ----------------------------------------*/

#base-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#base-preview{
    width: 100%
}
.base-titles{
    font-size: 3vw;
    font-family: impact;
    text-decoration: none;
    position: absolute;
    bottom: 0%;
}

#base-courses-vertical{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.base-coursev{
    width: 100%;
}

#base-courses{
    display: grid;
    grid-template-columns: 1fr;
    
}
.vertical-course{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.price-tag{
    font-family: impact;
    font-size: 2vw;
    color: black;
    background-color: white;
    width: 99%;
    height: 2.5vw;
    text-align: center;
}

#corso-base{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#camera-master{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#camera-title{
    text-decoration: none;   
    position: absolute;
    color: white;
    left: 10%;
    bottom: 0%;
    font-size: 3vw
}

#creatore-title, #creatore-link{
    text-decoration: none;
    color: white;
    font-size: 2.5vw
}

#post-title, #post-link{
    text-decoration: none;
    color: white;

}


.acquista{
    width: 8vw;
    height: 3vw;
    font-size: 2vw;
    font-family: impact; 
    margin-top: 10px
}

#base-buy{
    height: 50px;
    font-size: 150%; 
    margin-top: 0px;
    width: 100%;
}


.price-button{
    background-color: rgb(33, 50, 100);
    color: white;
    font-family: Impact;
    width: 100%;
}

#dashboard-link{
    display: flex;
    width: 100%;
    text-decoration: none;
}

/* ----------------------------------- FINE CORSO BASE ----------------------------------------*/

/* ----------------------------------- INIZIO CORSO PRO ----------------------------------------*/
.price-tags{
    font-family: impact;
    font-size: 1.3vw;
    color: black;
    background-color: white;
    width: 98%;
    height: 1.5vw;
    text-align: center;
}

.price-buttons{
    background-color: rgb(33, 50, 100);
    color: white;
    font-family: Impact;
    width: 100%;
}
#base-buys{
    height: 30px;
    font-size: 110%; 
    margin-top: 0px;
    width: 100%;
}

#pro-courses-vertical{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* ----------------------------------- FINE CORSO PRO ----------------------------------------*/

/* ----------------------------------- INIZIO DASHBOARD ----------------------------------------*/

#dashboard-area{
    display: grid;
    grid-template-columns: 1fr 0.2fr 3.5fr 0.2fr 1fr;
    justify-items: center;
}

.video-area{
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
}

.inner-part{
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: rgb(0,0,20);
}

.arrow{
    width: 90%;
    
}

.video{
    width: 100%;
    height: 2.5vw;
    background-color: rgb(33, 50, 100);
}

.video:hover{
    background-color: rgb(48, 72, 144);
}

.main-video{
    width: 100%;
}

/* ----------------------------------- FINE DASHBOARD ----------------------------------------*/

/* ----------------------------------- INIZIO MEDIA QUERY ----------------------------------------*/

@media (max-width: 920px){
    .navbar{
        height: 50px;
    }
    #profile-picture {
        height: 50px;
        width: 50px;
      }
}

@media (max-width: 540px){
 
    
}

@media (max-width: 920px) and (min-height: 900px){
    
}