@import "../../root.css";
#footer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--dark);
}
#footer #contact {
    /* width: 600px; */
    display: flex;
    flex-direction: row;
   justify-content: space-around;
}
#footer #legal {
    display: flex;
    flex-direction: row;
    gap: 20px;
}