@import "../../root.css";
#product {
    width: 100%;
    display: flex;
}

#product .course{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#product .course h1{
    background: var(--dark);
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}
#product .course img{
    width: 100%
}
#product .course a,  #product .course button {
    width: 100%;
}
#product .subcourses {
    display: flex;
    width: 100%;
    gap: 1px;

}
#product .subcourse{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#product .subcourse h2{
    text-align: center;
    padding: 10px;
    background: var(--dark);
}
#product .price{
    width: 100%;
    text-align: center;
    background: white;
    color: black;
    font-size: 20px;
    padding: 5px;
}
#product .subcourse-img{
    width: 100%;
}