#view {
    flex-direction: column;
}
#view .videos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#view  .videos .video{
    background-color: rgb(255, 187, 0);
    min-width: 300px;
    max-width: 1200px;
}