#store{
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#store #products {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 900px;
}

#store .product{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 300px;
    border: 1px solid var(--extra-light);
}
#store .cover {
    display: flex;
    width: 100%;
    height: 100%;
}
#store .product #layer {
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 5vw black;
    position: absolute;
    transition: 0.3s;
    opacity: 0;
    top: 0;
    left: 0;
}
#store .product:hover #layer{
    opacity: 1;
}
#store .product:hover a .title {
    transform: scale3d(1.05);
}
#store .product img{

} 
#store .product .details {
    
    padding: 10px;
}
#store .product .details .course-name{
    text-transform: uppercase;
    font-weight: 300;
}
#store .product #price {
   font-size: 20px;
    text-align: end;
}
#store .product .course-img{
    width: 100%;
}